// Navigation code here
@import "variables";
@import "mixins";

.nav-container {
    .navContainerStyle();
    
    nav {
        .navigationStyle();
        padding-bottom: 1%;
        padding-top: 1%;
        width: 35%;
        @media @phone {
            width: 90%;
        }
    }
    h1 {
        text-align: center;
        font-size: 4rem;
    }
    a{
        font-size: 1.7rem;
        text-decoration: none;
        color: @nav-font;
        &:hover {
            background-color: black;
            color: @white;
        }
    }
}